extends ../components/base/layout
include ../components/mixins/list

block variables
  - const title = "Ковыряю сборку" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const listArray = ['Bob', 'Jon', 'Gale']

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +intro()
    include ../components/blocks/about-as
      +list(listArray)

block modals
